<link rel="stylesheet" type="text/css" href="data/cache/show.css">
<link rel="stylesheet" type="text/css" href="data/cache/listSow.css">
<style>
    .user {
         padding-top: 0;
         padding-bottom: 0;
         border: none;
    }
    .fl{
        border: none !important;
    }
    a{
        color: #666666;
    }
    .eui-btn-01{
        background-color: #0072a6 ;
    }
    footer{
        padding: 0;
        margin-top: 50px;
    }
    #eui-main-body{
        padding-top: 56px;
    }
    .photo,.deprecated>img{
        margin-top: 18px;
    }
    body{
        background: #f3f3f3 !important;
    }
</style>
<!--{template common/header}-->


<script type="text/javascript">var fid = parseInt('$_G[fid]'), tid = parseInt('$_G[tid]');</script>
<!--{if $modmenu['thread'] || $modmenu['post']}-->
	<script type="text/javascript" src="{$_G['setting']['jspath']}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']);var imagemaxwidth = '{$_G['setting']['imagemaxwidth']}';var aimgcount = new Array();</script>

<style id="diy_style" type="text/css"></style>
<!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->


<!--{hook/viewthread_top}-->
<!--{ad/text/wp a_t}-->

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="wp cl">
<!--{if $_G['group']['allowpost'] && ($_G['group']['allowposttrade'] || $_G['group']['allowpostpoll'] || $_G['group']['allowpostreward'] || $_G['group']['allowpostactivity'] || $_G['group']['allowpostdebate'] || $_G['setting']['threadplugins'] || $_G['forum']['threadsorts'])}-->
	<ul class="p_pop" id="newspecial_menu" style="display: none">
		<!--{if !$_G['forum']['allowspecialonly']}--><li><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]">{lang post_newthread}</a></li><!--{/if}-->
		<!--{if $_G['forum']['threadsorts'] && !$_G['forum']['allowspecialonly']}-->
			<!--{loop $_G['forum']['threadsorts']['types'] $id $threadsorts}-->
				<!--{if $_G['forum']['threadsorts']['show'][$id]}-->
					<li class="popupmenu_option"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&sortid=$id">$threadsorts</a></li>
				<!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
		<!--{if $_G['group']['allowpostpoll']}--><li class="poll"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=1">{lang post_newthreadpoll}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostreward']}--><li class="reward"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=3">{lang post_newthreadreward}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostdebate']}--><li class="debate"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=5">{lang post_newthreaddebate}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostactivity']}--><li class="activity"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=4">{lang post_newthreadactivity}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowposttrade']}--><li class="trade"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=2">{lang post_newthreadtrade}</a></li><!--{/if}-->
		<!--{if $_G['setting']['threadplugins']}-->
			<!--{loop $_G['forum']['threadplugin'] $tpid}-->
				<!--{if array_key_exists($tpid, $_G['setting']['threadplugins']) && @in_array($tpid, $_G['group']['allowthreadplugin'])}-->
					<li class="popupmenu_option"{if $_G['setting']['threadplugins'][$tpid][icon]} style="background-image:url(source/plugin/$tpid/$_G['setting']['threadplugins'][$tpid][icon])"{/if}><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&specialextra=$tpid">{$_G['setting']['threadplugins'][$tpid][name]}</a></li>
				<!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
	</ul>
<!--{/if}-->

<!--{if $modmenu['post']}-->
	<div id="mdly" class="fwinmask" style="display:none;z-index:350;">
		<table cellspacing="0" cellpadding="0" class="fwin">
			<tr>
				<td class="t_l"></td>
				<td class="t_c"></td>
				<td class="t_r"></td>
			</tr>
			<tr>
				<td class="m_l">&nbsp;&nbsp;</td>
				<td class="m_c">
					<div class="f_c">
						<div class="c">
							<h3>{lang admin_select}&nbsp;<strong id="mdct" class="xi1"></strong>&nbsp;{lang piece}: </h3>
							<!--{if $_G['forum']['ismoderator']}-->
								<!--{if $_G['group']['allowwarnpost']}--><a href="javascript:;" onclick="modaction('warn')">{lang modmenu_warn}</a><span class="pipe">|</span><!--{/if}-->
								<!--{if $_G['group']['allowbanpost']}--><a href="javascript:;" onclick="modaction('banpost')">{lang modmenu_banpost}</a><span class="pipe">|</span><!--{/if}-->
								<!--{if $_G['group']['allowdelpost'] && !$rushreply}--><a href="javascript:;" onclick="modaction('delpost')">{lang modmenu_deletepost}</a><span class="pipe">|</span><!--{/if}-->
							<!--{/if}-->
							<!--{if $_G['forum']['ismoderator'] && $_G['group']['allowstickreply'] || $_G['forum_thread']['authorid'] == $_G['uid']}--><a href="javascript:;" onclick="modaction('stickreply')">{lang modmenu_stickpost}</a><span class="pipe">|</span><!--{/if}-->
							<!--{if $_G['forum_thread']['pushedaid'] && $allowpostarticle}--><a href="javascript:;" onclick="modaction('pushplus', '', 'aid=$_G[forum_thread][pushedaid]', 'portal.php?mod=portalcp&ac=article&op=pushplus')">{lang modmenu_pushplus}</a><span class="pipe">|</span><!--{/if}-->
						</div>
					</div>
				</td>
				<td class="m_r"></td>
			</tr>
			<tr>
				<td class="b_l"></td>
				<td class="b_c"></td>
				<td class="b_r"></td>
			</tr>
		</table>
	</div>
<!--{/if}-->

<!--{if $modmenu['thread']}-->

<!--{/if}-->

<!--{hook/viewthread_beginline}-->

<div id="eui-main-body" style="width: 95%;margin: 0 auto">
	<div id="pt" class="bm cl">
	<div class="z">
		<a href="forum.php">首页</a>$navigation <em>&rsaquo;</em> <a href="forum.php?mod=viewthread&tid=$_G[tid]">$_G[forum_thread][short_subject]</a>
	</div>
</div>
	
	<!--{if $_G['forum_thread']['replycredit'] > 0 || $rushreply}-->
	
	<!--{/if}-->

	<!--{hook/viewthread_title_row}-->

<!-- 这是楼主信息 -->
	 <ul class="reply-list">
            <li class="item reply-column">
                <div class="reply-topic-info reply-column-topic">
                    <div class="reply-column-topic-inner">
                        <div class="hd">
                            <span class="floor fr">楼主</span>
                            <div class="reply-user-info reply-column-user small-photo">


                                <div class="hd">


                                   <!--  <img class="photo" src="https://himg.bdimg.com/sys/portrait/item/f9db6163687561637569g640bf9db640b.jpg" alt=""> -->


                                    {$postarr[1]['author']}
                                </div>

                            </div>

                            <span class="time">发表于 {$postarr[1]['dateline']}</span>
                            <span class="pv hidden-xs">$postarr[1]['views'] 浏览</span>
                            <span class="reply hidden-xs">$lou_num 回复</span>
                            <span class="good hidden-xs">2 赞</span>




                        </div>
                        <div class="bd">
                            <h3 class="title">{$postarr[1]['subject']}</h3>
                            <p>{$postarr[1]['message']}</p>
                            
                        </div>
                        <div class="ft">
                            <ul class="reply-topic-btns">
                                <li class="admin-btns">


                                </li>

                                 <li class="rel"><a class="btn-good" data-event="good"
                                                           data-object-id="5463" data-type="TOPIC" href="#"
                                                           data-bdstoken="c24a59a2ba42dc75162776e046c81f85"
                                                           
                                        >赞</a></li>
                                        <li class="line">|</li>

                                <li><a class="btn-reply" data-event="reply" data-reply-id="" href="forum.php?mod=post&action=reply&fid= $postarr[1]['fid']&tid=$postarr[1]['tid']" data-login-check="true">回复</a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
                <div class="reply-user-info reply-column-user hidden-xs">
                    <div class="hd

				                ">{$postarr[1]['author']}</div>
                    <div class="bd">
                        <p class="mark">

                            楼主
                        </p>
                        <p>


                            <!-- <img class="photo" src="https://himg.bdimg.com/sys/portrait/item/f9db6163687561637569g640bf9db640b.jpg" alt=""> -->
                            	{$postarr[1]['avatar_img']}


                        </p>
                        <ul class="fui-personal-data">
                            <li>



                                <span class="data">$postarr[1]['threads']</span>

                                <span class="type">主题数</span>
                            </li>
                            <li>



                                <span class="data">$postarr[1]['posts'] </span>

                                <span class="type">回复数</span>
                            </li>
                        </ul>
                        <!-- 用户已经登陆， 回复用户是管理员 或 当前用户是管理员 -->

                    </div>
                </div>
                
            </li>
        </ul>

	<!-- 详情页数据起始位置 -->
	<!--{loop $postdata $key $value}-->
	<!-- <ul>
	<li>帖子回复id：{$value['pid']}</li>
	<li>帖子id:{$value['tid']}</li>
	<li>论坛id:{$value['fid']}</li>
	<li>作者：{$value['author']}</li>
	<li>主题：{$value['subject']}</li>
    <a href="#">内容：{$key}.{$value['message']}</a>
    </ul> -->
     <!-- 这是跟帖的回复信息 -->

             <div id="js-reply-list" data-url="https://cloud.baidu.com/forum/reply/list?topicId=5463&amp;pageNo=1">


			 <ul class="reply-list">


                <li class="item reply-column" data-reply-id="10754">
                    <div class="reply-topic-info reply-column-topic">
                        <div class="reply-column-topic-inner">
                            <div class="hd">
                                <span class="floor fr">{$key}楼</span>

                                <div class="reply-user-info reply-column-user small-photo">


                                    <div class="hd">


                                        <!-- <img class="photo" src="https://himg.bdimg.com/sys/portrait/item/c647775af350ba5bg1f2bc6471f2b.jpg" alt=""> -->



                                        {$value['subject']}
                                    </div>

                                </div>




                                <span class="time">发表于 {$value['dateline']}</span>

                                <span class="good hidden-xs">2 赞</span>
                            </div>

                            <div class="bd">

                                <p>{$value['message']}</p>
                            </div>



                            <div class="ft">
                                <ul class="reply-topic-btns">
                                    <li class="admin-btns">


                                    </li>

                                     <li class="rel"><a class="btn-good" data-event="good"
                                                           data-object-id="5463" data-type="TOPIC" href="#"
                                                           data-bdstoken="c24a59a2ba42dc75162776e046c81f85"
                                                           
                                        >赞</a></li>
                                        <li class="line">|</li>


                                    <li>
                                        <a class="btn-reply" data-event="reply" data-reply-id="10754" href="forum.php?mod=post&action=reply&fid= $value['fid']&tid=$value['tid']" data-login-check="true">回复</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="reply-user-info reply-column-user hidden-xs">
                        <div class="hd

            ">{$value['author']}</div>
                        <div class="bd">
                            <p class="mark">


                            </p>

                            <p>


                                <!-- <img class="photo" src="https://himg.bdimg.com/sys/portrait/item/c647775af350ba5bg1f2bc6471f2b.jpg" alt=""> -->
                                {$value['avatar_img']}



                            </p>
                            <ul class="fui-personal-data">
                                <li>





                                    <span class="data">{$value['threads']}</span>

                                    <span class="type">主题数</span>
                                </li>
                                <li>





                                    <span class="data">{$value['replies']}</span>

                                    <span class="type">回复数</span>
                                </li>
                            </ul>
                            <!-- 用户已经登陆， 回复用户是管理员 或 当前用户是管理员 -->

                        </div>
                    </div>
                </li>


            </ul>

			

        </div>
	<!--{/loop}-->

	<!-- 分页 -->
	<!-- <div class="topic-detail-page">

                <div class="eui-page"><span class="active">1</span><a currentpage="2" href="http://cloud.baidu.com:80/forum/topic/show?topicId=5463&amp;t=1535684699487&amp;pageNo=2" onclick="">2</a><a currentpage="2" href="http://cloud.baidu.com:80/forum/topic/show?topicId=5463&amp;t=1535684699487&amp;pageNo=2" onclick="">下一页</a></div>

    </div> -->
	<!--  详情页数据结束位置-->

	<div id="postlistreply" class="pl"><div id="post_new" class="viewthread_table" style="display: none"></div></div>
	<!--{if $_G['blockedpids']}-->
		<div id='hiddenpoststip'><a href='javascript:display_blocked_post();'>{lang other_reply_hide}</a></div>
		<div id="hiddenposts"></div>
	<!--{/if}-->
	<!--{if $modmenu['thread']}-->
	<div class="xi2 mbm pbm bbs">
	<script type="text/javascript">
		$('modmenu').lastChild.style.visibility = 'hidden';
		document.write($('modmenu').innerHTML);
	</script>
	</div>
<!--{/if}-->



<form method="post" autocomplete="off" name="modactions" id="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="optgroup" />
	<input type="hidden" name="operation" />
	<input type="hidden" name="listextra" value="$_GET[extra]" />
	<input type="hidden" name="page" value="$page" />
</form>

$_G['forum_tagscript']

<!--{if $multipage && $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->
<!--{eval $nxtpage = $page + 1;}-->
	<div class="pgbtn"><a href="forum.php?mod=viewthread&tid=$_G[tid]{if $_GET[authorid]}&authorid=$_GET[authorid]{/if}&page=$nxtpage" hidefocus="true" class="bm_h">{lang next_page_extra}</a></div>
<!--{/if}-->
<div class="pgs mtm mbm cl">
	$multipage
	<span class="pgb y"{if $_G['setting']['visitedforums']} id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})"{/if}><a href="$upnavlink">{lang return_forumdisplay}</a></span>
	<!--{if !$_G['forum_thread']['is_archived']}-->
		<!-- <a id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"{if !$_G['forum']['allowspecialonly'] && empty($_G['forum']['picstyle']) && !$_G['forum']['threadsorts']['required']} onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"{else} onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';return false;"{/if} href="javascript:;" title="{lang send_posts}"><img src="{IMGDIR}/pn_post.png" alt="{lang send_posts}" /></a> -->
	<!--{/if}-->
	<!--{if $allowpostreply && !$_G['forum_thread']['archiveid']}-->
		<!-- <a id="post_replytmp" onclick="showWindow('reply', 'forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]')" href="javascript:;" title="{lang reply}"><img src="{IMGDIR}/pn_reply.png" alt="{lang reply}" /></a> -->
	<!--{/if}-->
</div>
<!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
<!--{if $fastpost}-->
	<!--{subtemplate forum/viewthread_fastpost}-->
<!--{/if}-->
</div>




<!--{hook/viewthread_middle}-->


<!--{hook/viewthread_bottom}-->

<!--{if ($_G['setting']['visitedforums']) && $_G['forum']['status'] != 3}-->
	<div id="visitedforums_menu" class="p_pop blk cl" style="display: none;">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td id="v_forums">
					<h3 class="mbn pbn bbda xg1">{lang viewed_forums}</h3>
					<ul class="xl xl1">
						$_G['setting']['visitedforums']
					</ul>
				</td>
			</tr>
		</table>
	</div>
<!--{/if}-->
<!--{if $_G['medal_list']}-->
<!--{loop $_G['medal_list'] $medalid $medal}-->
	<div id="md_{$medalid}_menu" class="tip tip_4" style="display: none;">
		<div class="tip_horn"></div>
		<div class="tip_c">
			<h4>$medal[name]</h4>
			<p>$medal[description]</p>
		</div>
	</div>
<!--{/loop}-->
<!--{/if}-->

<!--{if !IS_ROBOT && !empty($_G[setting][lazyload])}-->
	<script type="text/javascript">
	new lazyload();
	</script>
<!--{/if}-->

<!--{if !IS_ROBOT && $_G['setting']['threadmaxpages'] > 1}-->
	<script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, <!--{if $page > 1}-->1<!--{else}-->0<!--{/if}-->, <!--{if $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->1<!--{else}-->0<!--{/if}-->, 'forum.php?mod=viewthread&tid=$_G[tid]<!--{if $_GET[authorid]}-->&authorid=$_GET[authorid]<!--{/if}-->', $page);}</script>
<!--{/if}-->
</div>
<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<!--{if $_G['relatedlinks'] || $_GET['highlight']}-->
	<script type="text/javascript">
		var relatedlink = [];
		<!--{loop $_G['relatedlinks'] $key $link}-->
		relatedlink[$key] = {'sname':'$link[name]', 'surl':'$link[url]'};
		<!--{/loop}-->
		{eval $highlights = explode(' ', str_replace(array('\'', chr(125)), array('&#039;', '&#125;'), dhtmlspecialchars($_GET['highlight'])));}
		<!--{loop $highlights $word}-->
		{eval $key++;}
		relatedlink[$key] = {'sname':'$word', 'surl':''};
		<!--{/loop}-->
		relatedlinks('postmessage_$_G[forum_firstpid]');
	</script>
<!--{/if}-->

<!--{if !empty($_G['cookie']['clearUserdata']) && $_G['cookie']['clearUserdata'] == 'forum'}-->
	<script type="text/javascript">saveUserdata('forum_'+discuz_uid, '')</script>
<!--{/if}-->

<script type="text/javascript">
<!--{if $_G['forum']['picstyle'] && ($_G['forum']['ismoderator'] || $_G['uid'] == $_G['thread']['authorid'])}-->
function showsetcover(obj) {
	if(obj.parentNode.id == 'postmessage_$_G[forum_firstpid]') {
		var defheight = $_G['setting']['forumpicstyle']['thumbheight'];
		var defwidth = $_G['setting']['forumpicstyle']['thumbwidth'];
		var newimgid = 'showcoverimg';
		var imgsrc = obj.src ? obj.src : obj.file;
		if(!imgsrc) return;

		var tempimg=new Image();
		tempimg.src=imgsrc;
		if(tempimg.complete) {
			if(tempimg.width < defwidth || tempimg.height < defheight) return;
		} else {
			return;
		}
		if($(newimgid) && obj.id != newimgid) {
			$(newimgid).id = 'img'+Math.random();
		}
		if($(newimgid+'_menu')) {
			var menudiv = $(newimgid+'_menu');
		} else {
			var menudiv = document.createElement('div');
			menudiv.className = 'tip tip_4 aimg_tip';
			menudiv.id = newimgid+'_menu';
			menudiv.style.position = 'absolute';
			menudiv.style.display = 'none';
			obj.parentNode.appendChild(menudiv);
		}
		menudiv.innerHTML = '<div class="tip_c xs0"><a onclick="showWindow(\'setcover_'+newimgid+'\', this.href)" href="forum.php?mod=ajax&amp;action=setthreadcover&amp;tid=$_G[tid]&amp;pid=$_G[forum_firstpid]&amp;fid=$_G[fid]&imgurl='+imgsrc+'">{lang set_cover}</a></div>';
		obj.id = newimgid;
		showMenu({'ctrlid':newimgid,'pos':'12'});
	}
	return;
}
<!--{/if}-->
function succeedhandle_followmod(url, msg, values) {
	var fObj = $('followmod_'+values['fuid']);
	if(values['type'] == 'add') {
		fObj.innerHTML = '{lang nofollow}';
		fObj.href = 'home.php?mod=spacecp&ac=follow&op=del&fuid='+values['fuid'];
	} else if(values['type'] == 'del') {
		fObj.innerHTML = '{lang follow}';
		fObj.href = 'home.php?mod=spacecp&ac=follow&op=add&hash={FORMHASH}&fuid='+values['fuid'];
	}
}
<!--{if $_G['blockedpids']}-->
var blockedPIDs = [<!--{echo implode(',', $_G['blockedpids'])}-->];
<!--{/if}-->
<!--{if $postlist && empty($_G['setting']['disfixedavatar'])}-->
fixed_avatar([<!--{echo implode(',', array_keys($postlist))}-->], {if empty($_G['setting']['disfixednv_viewthread']) }1{else}0{/if});
<!--{elseif empty($_G['setting']['disfixednv_viewthread'])}-->
fixed_top_nv();
<!--{/if}-->
</script>
<!--{template common/footer}-->
